html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    min-width: 500px;
}

.introduction {
    position: relative;
    text-align: center;
    color: white;
}

.introductionText {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 50%;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: bold;
}

.main-background {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
}

.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    width:10em; 
    height: auto;
}

h1 {
    font-family: 'Bebas Nueu', Helvetica, Arial, sans-serif;
    color: rgb(229, 9, 20);   
}

p {
    font-size: 2.3vw;
    overflow: scroll;
    color: white ;
}

@media screen and (min-width: 480px) {
    p {
        font-size:16px;
    }
}

footer {
    border-top: 0px;
    font-size: 1.3em;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 1;
}

/* Gmail */
.fa-google {
    background: rgb(229, 9, 20);
    color: white;
  }

.fa-google:hover {
    background:  rgb(255,215,0);
}

/*LinkedIn*/
.fa-linkedin {
  background: rgb(229, 9, 20);
  color: white;
}

.fa-linkedin:hover {
    background: #007bb5;
}

/*Github*/
.fa-github {
    background: rgb(229, 9, 20);
    color: white;
}

.fa-github:hover {
    color: black;
}

/* 
CSS the Netflix carousel feature
Tutorial used found at https://www.raddy.co.uk/blog/netflix-carousel-using-css/
*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}
.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}
.wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
}
.wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}
.wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: #000;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
.wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
@media only screen and (max-width: 600px) {
    a.arrow__btn {
        display: none;
   }
}

/* 
end of Netflix carousel feature
*/

